{{outlet}}
{{page-header-div title=model.title}}
{{msg-balloon messages=messages}}

    <table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Név</th>
            <th>Hét napja</th>
            <th>Óra</th>
            <th>Hossz</th>
            <th></th>
        </tr>   
    </thead>
    <tbody>
        {{log model.classes }}
        {{#each model.classes as |class|}}
        <tr>
            <td>{{class.name}}</td>
            <td>{{class.dayOfWeek}}</td>
            <td>{{class.hour}}</td>
            <td>{{class.length}}</td>
            <td>
                {{link-to "Szerkeszt" "classes.edit" class.id class="btn btn-default btn-sm"}}
                <button {{action "delClass" class.id}} class="btn btn-default btn-sm">Töröl</button>
            </td>
        </tr>
        {{/each}}
        <button {{action "showModal" "new-class-modal" "classes.new" "class"}} class="btn btn-default">Új tantárgy</button>
    </tbody>
</table>