{{#modal-dialog modalId="classesListModal" title="Tantárgyaim" close="removeModal" modalClass="modal"}}
    <table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Név</th>
            <th>Hét napja</th>
            <th>Óra</th>
            <th>Hossz</th>
            <th></th>
        </tr>   
    </thead>
    <tbody>
        {{log classes }}
        {{#each classes as |class|}}
        <tr>
            <td>{{class.name}}</td>
            <td>{{class.dayOfWeek}}</td>
            <td>{{class.hour}}</td>
            <td>{{class.length}}</td>
            <td></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>
{{/modal-dialog}}